body {
	background: hsl(209, 97%, 46%)
}
#banner {
	width: 100%;

}
h1 {
	text-align: center;
	color:#ffffff;
	border: 5px solid #010955;
	padding: 20px;
}
p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color:#7cd0f7
}
.itens {
	font-style: italic;
	color: aquamarine;
}